{% extends "layout.html" %}
{%block content%}
    <div class="main">
        <div class="container-fluid" id="data-page" style="margin-bottom: 100px">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div style="margin-top: 5px; margin-bottom: 100px">
                        <a href="#" class="NBA-data tabledata" id = "NBA">NBA</a>
                        <a href="#" class="NFL-data tabledata" id = "NFL">NFL</a>
                        <a href="#" class="MLB-data tabledata" id = "MLB">MLB</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div id="data-area">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock%}