{% extends "layout.html" %}
{%block content%}
    <div class="main">
        <div class="container-fluid" id="data-page" style="margin-bottom: 100px">
            <div class="row">
                <div class="col-md-10 offset-1">
                    <div style="margin-top: 5px; margin-bottom: 100px">



                    </div>
                    <div class="card bg-light mb-3">
                      <div class="card-header">
                        <h5 class="d-inline-flex mx-2">DATA - </h5>
                        <h5 class="d-inline-flex mx-2"><a href="#" class="NBA-data tabledata" id = "NBA">NBA</a></h5>
                        <h5 class="d-inline-flex mx-2"><a href="#" class="NFL-data tabledata" id = "NFL">NFL</a></h5>
                        <h5 class="d-inline-flex mx-2"><a href="#" class="MLB-data tabledata" id = "MLB">MLB</a></h5>
                      </div>
                      <div class="card-body">

                        <div id="data-area"></div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 offset-1">
                    
                        
                    
                </div>
            </div>
        </div>
    </div>
{%endblock%}