{% extends "layout.html" %}
{%block content%}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" style="margin-bottom: 50px">
      <div class="carousel-inner">
        <div class="carousel-caption d-none d-md-block">
            <h1 style="font-size: 5em">HOME FIELD ADVANTAGE</h1>
            <h2>Is it a thing?</h2>
        </div>
        <div class="carousel-item active">
            <img src="{{url_for('static', filename='images/bball-court.png')}}" class="d-block w-100" alt="" style="object-fit: cover; height: 500px">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/soccer-field.png')}}" class="d-block w-100" alt=""style="object-fit: cover; height: 500px">
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename='images/baseball-stadium.png')}}" class="d-block w-100" alt=""style="object-fit: cover; height: 500px">
        </div>
      </div>
    </div>
    <div class="main">
        <div class="container-fluid" style="margin-bottom: 100px">
            <div class="row">
                <div class="col-md-8 offset-2 border-left border-right">
                    <h3 class="display-5">Project Overview</h3>
                    <p>Home-field advantage is a long-running idea in sports. The home team knows the turf, they’ve got more fans in the stands, and they got to sleep in their own beds rather than traveling possibly thousands of miles and staying in a hotel. But is home-field advantage really all it’s cracked up to be?</p>
                    <p>The purpose of this project was to gather data on the NBA, NFL, and the MLB and determine whether teams won more games at home or on the road and if it was significant or not. </p>
                    <br>
                    <br>
                    <br>

                    <h3>Data</h3>
                    <p>NBA - nba_api.stats</p>
                    <p>NFL - Kaggle Dataset</p>
                    <p>MLB - Kaggle Dataset</p>
                    <br>
                    <br>
                    <br>
                    <h3>Methods</h3>
                    <p>NBA - Using the API listed above, a json file was pulled for NBA game stats from 2012 to 2017. That data was then cleaned and formatted in a way that is easy to replicate, then sent to MongoDB.</p>
                    <p>NFL - The Kagle dataset provied game stats for all teams from 2012 to 2016. This data was then cleaned and formatted in the same way the NBA data was and sent to MongoDB.</p>
                    <p>MLB - This Kaggle dataset orovided game information dating back to 1871 but only seasons 2012 to 2017 were used. This was then put into the same format as the others and sent to MongoDB. </p>
                    <br><br><br>

            </div>
        </div>
    </div>
{%endblock%}