.rotate90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.carousel-caption {
  transform: translateY(-0%);
  bottom: 0;
  top: 50%;
}

.tracker-line {
    animation: dash 5s forwards;
}

.leaflet-interactive {
    stroke-dashoffset: 1000;
    stroke-dasharray: 1400;
    animation: dash 1s forwards;
}

.travel-circle {
    animation: iconfadein 1s forwards;

}

.circle-divicon {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      box-shadow: 0px 0px 4px white;
      transition: all 1s 
}

.tooltip {
  padding: 6px;
  font-size: 12px;
  line-height: 1;
   line-height: 1.5em; 
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

.tooltip:after {
      box-sizing: border-box;
      display: inline;
      font-size: 10px;
      width: 100%;
      line-height: 1;
      color: rgba(0, 0, 0, 0.8);
      content: "\25BC";
      position: absolute;
      text-align: center;
}
.tooltip.n:after {
      margin: -2px 0 0 0;
      top: 100%;
      left: 0;
}




@keyframes iconfadein {
    from {
        opacity: 0;

    }
    to {
        opacity: .7;
    }
}

@keyframes dash{
        from{
            stroke-dashoffset: 1000;
        }
        to{
            stroke-dashoffset: 0;
        }
}
